{% extends "index.html" %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
<div class="flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius: 10px; position: relative; height: 800px">
        <a class="btn btn-secondary" style="width: 150px; position: absolute; right: 5px" href="/pages/noroeste/salta/">Volver</a>
        <form enctype="multipart/form-data" method="POST" class="position-absolute top-50 start-50 translate-middle" style="display: flex; flex-direction: column; width: 700px; gap: 10px; border-radius: 5px; padding: 20px;">{% csrf_token %}
                {{ formulario.as_table }}
            <button type="submit" class="btn btn-success" >Editar</button>
        </form>
    </div>
</div>
{% endblock %}
