<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/estilos.css'%}">
    <title>Regiones de Argentina</title>
</head>
<body style="background-color: #FCD6D6;">

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #212A8C; ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pages/noroeste">Noroeste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pages/pampeana/">Pampeana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pages/cuyo">Cuyo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pages/patagonia">Patagonia</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 300px">
                        <a class="nav-link" aria-current="page" href="">{{ user.username }}</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 230px">
                        <a class="nav-link active" aria-current="page" href="/login/">Login</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 160px">
                        <a class="nav-link active" aria-current="page" href="/registro/">Registro</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 70px">
                        <a class="nav-link active" aria-current="page" href="/editarperfil/"> Editar Perfil </a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 20px">
                        <a class="nav-link active" aria-current="page" href="/logout/">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block contenido %}
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"  style="background-color: #e3f2fd; border: 2px inset black; border-radius:12px;">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <h2 class="display-4 fw-normal" style="color: black">Argentina</h2>
              <h3  style="color: black">En busca de tu región favorita</h3>
              <h6>En esta página vas a poder explorar y crear blogs de la principal provincia de cada región de nuestro país.</h6>
              <h6>Recordá estar logeado para poder agregar, editar o borrar un blog.</h6>
            </div>
        </div>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-color: #e3f2fd; border: 2px outset black; border-radius:12px;">
            <div class="col-md-7 p-lg-5 mx-auto my-0">
                <img src="/media/regiones.jpg" width="300" height="235" class="rounded float-end">
                <img src="/media/argentina.png" width="235" height="235" class="rounded float-start">
            </div>
        </div>
    </main>
    {% endblock %}
    <footer class="container-fluid py-4" style="background-color: #212A8C;">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3" style="color: white">Manuel Cando<br>Macarena Diaz<br>Manuel Vilela Blanco</small>
        </div>
        <div class="col-6 col-md">
          <a class="nav-link active" aria-current="page" href="/aboutus/" style="color: white">About us</a>
        </div>
        <div class="col-6 col-md">
          <a class="nav-link active" aria-current="page" style="color: white" href="/pages/noroeste">Noroeste</a>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="/pages/noroeste/salta/">Salta</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <a class="nav-link active" aria-current="page" style="color: white" href="/pages/pampeana/">Pampeana</a>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="/pages/pampeana/buenosaires/">Buenos Aires</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <a class="nav-link active" aria-current="page" style="color: white" href="/pages/cuyo">Cuyo</a>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="/pages/cuyo/mendoza/">Mendoza</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <a class="nav-link active" aria-current="page" style="color: white" href="/pages/patagonia">Patagonia</a>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="/pages/patagonia/rionegro/">Río Negro</a></li>
            </ul>
        </div>
      </div>
    </footer>
</body>
</html>