{% extends "index.html" %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
<div class="flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius:10px">
      <div style = "height: 80%; width: 100%; border: 2px">
          <div>
            <h1 class="display-5"> RIO NEGRO<a class="btn btn-secondary" style="width: 150px;position: absolute; right: 20px" href="http://127.0.0.1:8000/">Volver</a></h1>
            <p class="lead"> Río Negro es una provincia en el norte de la Patagonia argentina. Sus paisajes naturales incluyen desde la nevada Cordillera de los Andes en el oeste hasta el océano Atlántico en el este, y se destacan los lagos glaciales y mesetas con bosques.  </p>
            <a class="btn btn-warning" style="background-color: #e3f2fd; border: 2px solid black; border-radius:10px; width: 500px" href="/pages/patagonia/rionegro/">Ver y crear blogs...</a>
          </div>
          <div>
            <img src="/media/rionegro.png" vspace="10px" style="width: 80%; height: 698px; border-radius: 21px 21px 0 0;">
          </div>
      </div>
    </div>
</div>
{% endblock%}
